@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans&display=swap');

body{
    height: 100%;
    width: 100%;
    background-color:#1a1a1d;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: white;
    text-decoration: underline;
    text-decoration-color: #c3073f;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1d;
    
}
.editor-bar{
    display: flex;
    justify-content: center;
    width: 52vw;
    background-color: white;
    box-shadow: 1px 14px 19px black;
    /* word-wrap: break-word; */
    border-radius: 8px;
}
.material-symbols-outlined{
    color: rgb(0, 0, 0);
}
.text-size{
   
    border: none;
    top: 0px;
    width: 5vw;
    left: 10px;
    font-size: 26px;
    padding: 5px 8px;
    border-right: 2px solid rgb(225, 225, 225);
   
}
.second{
    border-right: 2px solid rgb(225, 225, 225);
}
.editor-bar input{
    outline: none;
}
button{
    background: transparent;
    border: none;
    padding: 7px 10px;
    margin:7px 5px 7px 5px ;
}
button:focus{
    background: #000;
    color: white;
}
.third{
    border-right: 2px solid rgb(225, 225, 225);
}
.capslock{
    font-size: 25px;
    border-right: 2px solid rgb(225, 225, 225);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}
.color-palet{
margin-top: 15px;
margin-right: 10px;
border: none;
width: 5vw;
background: none;
}
.content{
    display: flex;
    justify-content: center;
    align-items: centerl;
    color: rgb(0, 0, 0);
    /* width: 3; */
    margin-top: 50px;
    background-color: #1a1a1d;
}
.content textarea{
    width: 52vw;
    height: 35vw;
    box-shadow: 1px 14px 19px black;box-shadow: 1px 14px 19px black;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    font-size: 2rem;
    resize: vertical;
}